html    {
    background: url("https://i.pinimg.com/originals/12/d1/61/12d16121b4cbfd5cec4cd1c9c41fbcb2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-backgrond-size: cover; 
    background-size: cover;  
}



#container  {
    height: 0px; 
    color: white; 
    margin: 0 auto; 
    width: 19%; 
    position: relative; 
    top: 200px; 
}

h1  {
    margin: 0 auto; 
    width: 70%; 
}

#signUp_text    {
    margin: 0 auto; 
    width: 90%; 
}

input   {
    display: block;
}

/** Sign Up **/
#email  {
    width: 350px;
}

#password   {
    width: 350px; 
}
/** Sign Up **/

#signUp_button  {
    margin: 0 auto; 
    
}

#login_button   {
    margin: 0 auto; 
    display: none; 
    visibility: hidden; 
}

#stayLoggedIn   {
    float: left; 
    margin-top: 5px; 
}

#checkbox_container {
    margin: 0 auto; 
    width: 35%; 
}

/** Login **/
#login_email    {
    display: none;
    visibility: hidden; 
    width: 350px;  
}

#login_password {
    display: none;
    visibility: hidden;
    width: 350px; 
}
/** Login **/


#switch_modes   {
    margin: 0 auto; 
    width: 18%;
    top: 20px; 
    position: relative; 
    color: red; 
}

